<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <!--[if mso]> <noscript> <xml> <o:OfficeDocumentSettings> <o:PixelsPerInch>96</o:PixelsPerInch> </o:OfficeDocumentSettings> </xml> </noscript> <![endif]-->
    <style>
        @media only screen and (max-width: 600px) {
          .column,
          .gutter {
            display: block !important;
          }
   
          .column {
            width: 450px !important;
          }
   
          .column img {
            width: 450px;
          }
        }
        body {
            font-family:Helvetica;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
        }
        .table-module {
            width:700px;
            border:0;
            border-collapse:collapse;
            border-spacing:0;
            background-image: url('https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/header/FondoBlanco.png');
        }
      </style>
      <script>
            alert("Hola");
      </script>
</head>
<body>
    <table class="table-module">
        <tr>
            <table class="table-module">
                <tr style="text-align: center;">
                    <td class="divider" style="height: 10px">&nbsp;</td>
                </tr>
                <tr style="text-align: center;">
                    <td style=" background-image: url('https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/header/Header.EntrySuccesfull.png');background-repeat: no-repeat;height:181px;width:700px;">
                        <span style="font-style: normal;font-weight: 700;font-size: 16px;line-height: 18px;align-items: center;text-align: center;color: #211F1E;margin-bottom: 75px;padding-left: 21px;display: inline-block;">
                        Hola, {{var:username:""}}</span>
                    </td>
                </tr>
            </table>

            <table class="table-module">
                <tr>
                    <td style="padding-left:129px;">
                        <span >
                            <br>
                            <p style="font-style: normal;font-weight: 700;font-size: 20px;line-height: 23px;"> Disfruta de todos los
                                beneficios que tenemos</p>
                            <p style="font-style: normal;font-weight: 700;font-size: 20px;line-height: 23px;">para ti.</p>
                            <span style=" font-style: normal;font-weight: 400;font-size: 18px;line-height: 21px">Empieza a navegar con nosotros.
                            <br>
                        </span>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td style="height: 30px;background-image:url('https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/header/FondoBlanco.png');width: 700px;">&nbsp;</td>
                </tr>
            </table>
            <table class="table-module">
                <tr>          
                    <td style="padding-left:129px;">
                        <a href="https://discover-ec.developppm.com">
                            <img src="https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/body/IngresoExitoso/Mi+perfil.png">
                        </a>
                    </td> 
                </tr>
                <tr style="text-align: center; background-image:url('https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/header/FondoBlanco.png')">
                    <td style="height: 14px;">&nbsp;</td>
                </tr>
                <tr>          
                    <td style="padding-left:129px;">
                        <a href="https://discover-ec.developppm.com/utilice-sus-millas/discover-shopping">
                            <img src="https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/body/IngresoExitoso/Ofertas.png">
                        </a>
                    </td> 
                </tr>
                <tr>
                    <td style="height: 14px;background-image:url('https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/header/FondoBlanco.png');width: 700px;">&nbsp;</td>
                </tr>
                <tr>          
                    <td style="padding-left:129px;">
                        <a href="https://discover-ec.developppm.com/promociones">
                            <img src="https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/body/IngresoExitoso/Store.png">
                        </a>
                    </td> 
                </tr>
            </table>

            <table>
                <tr>
                    <td style="height: 77px;background-image:url('https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/header/FondoBlanco.png');width: 700px;" >&nbsp;</td>
                </tr>
            </table>

            <table class="table-module">
                <tr>
                    <td style=" background-image: url('https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/footer/NoRealizaste_EstaAccion.png');
                    background-repeat: no-repeat;height: 210px;">
                        <a href="https://www.dinersclub.com.ec/centro-de-soporte/call-center">
                            <span style="font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 18px;
                            align-items: center;
                            text-align: center;
                            color: #22ABB5;
                            margin-bottom: 118px;
                            padding-left: 184px;
                            cursor: pointer;
                            display: inline-block;">
                            1800-DISCOVER (347 268)</spam>
                        </a>
                        <span style=" vertical-align: bottom;display: inline-block;margin-left: 160px;margin-bottom: 52px;">
                            <a style=" border: 0px solid #000000;border-radius: 36px;" href="https://twitter.com/discoverecu?s=21&t=RhDLOB1Gi5VRakyuwoiC8g">
                                <img src="https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/footer/RedesSociales/twt.png" style="margin-right: 5px;" alt="twitter">
                            </a>
                        
                            <a style=" border: 0px solid #000000;border-radius: 36px;" href="https://www.facebook.com/DiscoverEC?mibextid=LQQJ4d">
                                <img src="https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/footer/RedesSociales/fb.png" style="margin-right: 5px;" alt="facebook">
                            </a>
                    
                            <a style=" border: 0px solid #000000;border-radius: 36px;" href="https://instagram.com/discover_ec?igshid=NTc4MTIwNjQ2YQ==">
                                <img src="https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/footer/RedesSociales/ig.png" style="margin-right: 5px;" alt="instagram">
                            </a>
                        
                            <a style=" border: 0px solid #000000;border-radius: 36px;" href="https://youtube.com/@DiscoverEcuador">
                                <img src="https://s3.us-east-2.amazonaws.com/gn-resources.developppm.com/public/maijet/Discover/footer/RedesSociales/ytb.png" style="margin-right: 5px;" alt="youtube">
                            </a>
                        </span>
                    </td>
                </tr>
            </table>
        </tr>
    </table>
</body>
</html>