<head>
<div style="width: 50px;height: 20px;position: absolute;margin-left: 205px;margin-top: 28px;">
        <p style="font-family: Helvetica; font-size: 16px;">Hola, {{username:""}}</p>
</div>
<div>
        <image src="https://0z9wo.mjt.lu/tplimg/0z9wo/b/mwu3p/6jzqw.png"> </image>
</div>

<div style=" margin: 0 18px;text-align: center; color: #211F1E; font-size: 21px;">
        <br>
        <p style="font-family: Helvetica !important; font-size: 20px;font-weight: bold;"> Disfruta de todos los
                beneficios que tenemos</p>
        <p style="font-family: Helvetica !important">para ti.</p>
        <span style="text-align: center; color: #798083;font-size: 18px !important;font-family: Helvetica !important;">Empieza
                a navegar con nosotros.
                <br>
        </span>
</div>
</head>
<body>
<div style="background-image: url(https://0z9wo.mjt.lu/tplimg/0z9wo/b/mwu3p/6jzqy.png); 
            margin-top: -15px !important; 
            font-stretch: normal;
            font-style: normal; line-height: 
            normal; letter-spacing: normal;">
        <br>
                <div style="color: #798083; border: 1px solid #211F1E; border-radius: 10px;margin: 1% 15% 0 15%; ">
                        <div style="margin: 0 10px 10px;">
                                <div style="display: inline-block;  width: 25%; height:4%;  text-align: right;">
                                        <img src="https://0z9wo.mjt.lu/tplimg/0z9wo/b/mwu3p/6jznr.png" width="22"
                                                style="padding: 5px;">
                                </div>
                                <div style="display: inline-block; width: 65%;  height:4%;">
                                        <p
                                                style="text-align: left;  font-family: Helvetica !important; font-size: 17px;  font-weight: normal;  color: #211F1E;font-weight:bold;margin-bottom: 4px;">
                                                &nbsp;Mi perfil
                                        </p>
                                        <p
                                                style="text-align: left; color: #211F1E; font-size: 16px;font-family: Helvetica !important; font-weight: normal;margin: 0px !important;font-weight: normal;">
                                                &nbsp;Consulta tu saldo y transacciones.
                                        </p>
                                </div>
                        </div>
                </div>
                <div style="color: #798083;border: 1px solid #211F1E;border-radius: 10px;margin: 1% 15% 0 15%; ">
                        <div style="margin: 0 10px 10px;">
                                <div style="display: inline-block; width: 25%; height:4%; text-align: right;">
                                        <img src="https://0z9wo.mjt.lu/tplimg/0z9wo/b/mw11z/6ik2u.png" width="22"
                                                style="padding: 5px;">
                                </div>
                                <div style="display: inline-block; width: 65%; height:4%;">
                                        <p
                                                style="text-align: left;font-family: Helvetica !important;font-size: 17px;font-weight: normal;color: #211F1E;font-weight:bold;margin-bottom: 4px;">
                                                &nbsp;Cashback store
                                        </p>
                                        <p
                                                style="text-align: left; color: #211F1E;font-size: 16px;font-family: Helvetica !important;font-weight: normal;margin: 0px !important;font-weight: normal;">
                                                &nbsp;Encuentra tus productos favoritos.
                                        </p>
                                </div>
                        </div>
                </div>
                <div style="color: #798083; border: 1px solid #211F1E; border-radius: 10px;margin: 1% 15% 0 15%; ">
                        <div style="margin: 0 10px 10px;">
                                <div style="display: inline-block;width: 25%;height:4%;  text-align: right;">
                                        <img src="https://0z9wo.mjt.lu/tplimg/0z9wo/b/mwu3p/6jzn7.png"
                                                style="padding: 5px; width: 22px;">
                                </div>
                                <div style="display: inline-block;width: 65%; height:4%;">
                                        <p
                                                style="text-align:left;font-family:Helvetica !important;font-size:17px;font-weight:normal;color:#211F1E;font-weight:bold;margin-bottom: 4px;">
                                                &nbsp;Ofertas
                                        </p>
                                        <p
                                                style="text-align:left;color:#211F1E;font-size:16px;font-family:Helvetica !important;font-weight:normal;margin: 0px !important;font-weight: normal;">
                                                &nbsp;Aprovecha los beneficios de tu programa.
                                        </p>
                                </div>
                        </div>
                 </div>

        <br>
</div>
</body>
<footer></footer>